.container {
  width: 100%;
  border-radius: 0 0 $radius-xl $radius-xl;
  background-color: $black;
  padding: $space-5 $space-10;
  position: sticky;

  .avatar {
    max-width: 50px;
    max-height: 50px;
  }

  .logo {
    padding: $space-2;
    max-width: 80px;
    aspect-ratio: 1;
    border: 1px solid $light-gray;
    border-radius: $radius-xl;
  }
}
