.container {
  position: relative;
  width: 100%;
}

.right_icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  right: $space-5;
  width: fit-content;
  aspect-ratio: 1;
}

.input {
  max-width: unset;
  width: 100%;
  padding: $space-5;
  border-radius: $radius-m;
  background: $background-light !important;

  color: $gray;
  font-size: 18px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;

  &::placeholder {
    color: $gray-2;
  }
}
