@use "./colors.scss" as *;
@use "./sizes.scss" as *;

html {
  background-color: $light-gray;
  color: $olive;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    display: none;
  }
}

.no-scroll {
  overflow: hidden;
}

.drag-line {
  width: 100%;
  height: 2px;
}

.absolute {
  position: absolute;
}
