.header_ellipsis__YttH9 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header_text-12__l2q2o {
  font-size: 12px;
}
.header_text-12__l2q2o,
.header_text-16__BgIYB {
  font-family: Inter, sans-serif;
  font-style: normal;
  line-height: normal;
}
.header_text-16__BgIYB {
  font-size: 16px;
}
.header_text-18__vxQol {
  font-family: Inter, sans-serif;
  font-size: clamp(0.875rem, 0.773rem + 0.45vw, 1.125rem);
  font-style: normal;
  line-height: normal;
}
.header_text-20___CRAZ {
  font-size: clamp(0.875rem, 0.722rem + 0.68vw, 1.25rem);
  font-style: normal;
  line-height: normal;
}
.header_text-22__GxTQF {
  font-size: 22px;
}
.header_text-22__GxTQF,
.header_text-24__Vilh6 {
  font-family: Inter, sans-serif;
  font-style: normal;
  line-height: normal;
}
.header_text-24__Vilh6 {
  font-size: clamp(1rem, 0.795rem + 0.91vw, 1.5rem);
}
.header_text-28__jL3Vd {
  font-size: clamp(1.5rem, 1.398rem + 0.45vw, 1.75rem);
}
.header_text-28__jL3Vd,
.header_text-32__UcacG {
  font-family: Inter, sans-serif;
  font-style: normal;
  line-height: normal;
}
.header_text-32__UcacG {
  font-size: clamp(1.25rem, 0.968rem + 1.29vw, 2rem);
}
.header_text-40__bKACW {
  font-size: clamp(1.75rem, 1.443rem + 1.36vw, 2.5rem);
}
.header_text-100__dGAR2,
.header_text-40__bKACW {
  font-family: Inter, sans-serif;
  font-style: normal;
  line-height: normal;
}
.header_text-100__dGAR2 {
  font-size: clamp(3.75rem, 2.727rem + 4.55vw, 6.25rem);
  font-weight: 700;
}
.header_font-regular__ipWzq {
  font-weight: 400;
}
.header_font-medium__64Y94 {
  font-weight: 500;
}
.header_font-bold__5okl7 {
  font-weight: 700;
}
.header_uppercase__prIBl {
  text-transform: uppercase;
}
.header_text-black__wr7uS {
  color: #121212;
}
.header_text-green__yUNI9 {
  color: #2e4f2e;
}
.header_text-gray__YxYDx {
  color: #f9f9f9;
}
.header_text-white___qu0d {
  color: #fff;
}
.header_text-center__pp4ZD {
  text-align: center;
}
.header_text-left__99yfH {
  text-align: left;
}
.header_container__TPRiB {
  width: 100%;
  border-radius: 0 0 24px 24px;
  background-color: #121212;
  padding: 20px 40px;
  position: sticky;
}
.header_container__TPRiB .header_avatar__Sto9d {
  max-width: 50px;
  max-height: 50px;
}
.header_container__TPRiB .header_logo__Y5mBI {
  padding: 8px;
  max-width: 80px;
  aspect-ratio: 1;
  border: 1px solid #f9f9f9;
  border-radius: 24px;
}
.button_ellipsis__MG4oF {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
.button_text-12__ZTBg3 {
  font-size: 12px;
}
.button_text-12__ZTBg3,
.button_text-16__t5jz5 {
  font-family: Inter, sans-serif;
  font-style: normal;
  line-height: normal;
}
.button_text-16__t5jz5 {
  font-size: 16px;
}
.button_text-18__KxTsf {
  font-family: Inter, sans-serif;
  font-size: clamp(0.875rem, 0.773rem + 0.45vw, 1.125rem);
  font-style: normal;
  line-height: normal;
}
.button_text-20__5xU0d {
  font-size: clamp(0.875rem, 0.722rem + 0.68vw, 1.25rem);
  font-style: normal;
  line-height: normal;
}
.button_text-22__lwcvL {
  font-size: 22px;
}
.button_text-22__lwcvL,
.button_text-24__Oz_3a {
  font-family: Inter, sans-serif;
  font-style: normal;
  line-height: normal;
}
.button_text-24__Oz_3a {
  font-size: clamp(1rem, 0.795rem + 0.91vw, 1.5rem);
}
.button_text-28___rj_B {
  font-size: clamp(1.5rem, 1.398rem + 0.45vw, 1.75rem);
}
.button_text-28___rj_B,
.button_text-32__CDC0S {
  font-family: Inter, sans-serif;
  font-style: normal;
  line-height: normal;
}
.button_text-32__CDC0S {
  font-size: clamp(1.25rem, 0.968rem + 1.29vw, 2rem);
}
.button_text-40__LN8fU {
  font-size: clamp(1.75rem, 1.443rem + 1.36vw, 2.5rem);
}
.button_text-100__oHKi2,
.button_text-40__LN8fU {
  font-family: Inter, sans-serif;
  font-style: normal;
  line-height: normal;
}
.button_text-100__oHKi2 {
  font-size: clamp(3.75rem, 2.727rem + 4.55vw, 6.25rem);
  font-weight: 700;
}
.button_font-regular__5ffn6 {
  font-weight: 400;
}
.button_font-medium__rNO_i {
  font-weight: 500;
}
.button_font-bold__XY_RU {
  font-weight: 700;
}
.button_uppercase__wADcf {
  text-transform: uppercase;
}
.button_text-black__guu_2 {
  color: #121212;
}
.button_text-green__hi7uf {
  color: #2e4f2e;
}
.button_text-gray__X6yXY {
  color: #f9f9f9;
}
.button_text-white__hhTfY {
  color: #fff;
}
.button_text-center__0QkvR {
  text-align: center;
}
.button_text-left__5Sdf0 {
  text-align: left;
}
.button_button__aZ_6A {
  display: grid;
  place-content: center;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease !important;
  border-radius: 16px;
  user-select: none;
  cursor: pointer;
  position: relative;
  z-index: 5;
}
.button_button__aZ_6A:active {
  transform: scale(0.95);
}
.button_size_0__ddZC3 {
  padding: 0;
}
.button_size_12_16__yOGdn {
  padding: 12px 16px;
}
.button_size_16_24__kvorD {
  padding: 16px 24px;
}
.button_size_12_24__McqWg {
  padding: 12px 24px;
}
.button_black__Ju1R5 {
  background: #121212;
  color: #fff;
  border: 1px solid #121212;
}
.button_black__Ju1R5 svg path {
  fill: #f9f9f9;
}
.button_black__Ju1R5:hover {
  border: 1px solid #121212;
  background: rgba(0, 0, 0, 0);
}
.button_black__Ju1R5:hover span {
  color: #121212;
}
.button_black__Ju1R5:hover svg path {
  fill: initial;
}
.button_white__9a66o {
  background: #f9f9f9;
  color: #121212;
}
.button_white__9a66o:hover {
  background: rgba(0, 0, 0, 0);
  color: #f9f9f9;
}
.button_white__9a66o:hover svg path {
  fill: #f9f9f9;
}
.contacts_ellipsis__l8yhg {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
.contacts_text-12__DGbsL {
  font-size: 12px;
}
.contacts_text-12__DGbsL,
.contacts_text-16__Me1PH {
  font-family: Inter, sans-serif;
  font-style: normal;
  line-height: normal;
}
.contacts_text-16__Me1PH {
  font-size: 16px;
}
.contacts_text-18__T8XL6 {
  font-family: Inter, sans-serif;
  font-size: clamp(0.875rem, 0.773rem + 0.45vw, 1.125rem);
  font-style: normal;
  line-height: normal;
}
.contacts_text-20__GHipp {
  font-size: clamp(0.875rem, 0.722rem + 0.68vw, 1.25rem);
  font-style: normal;
  line-height: normal;
}
.contacts_text-22__0DHmP {
  font-size: 22px;
}
.contacts_text-22__0DHmP,
.contacts_text-24__Pzhc8 {
  font-family: Inter, sans-serif;
  font-style: normal;
  line-height: normal;
}
.contacts_text-24__Pzhc8 {
  font-size: clamp(1rem, 0.795rem + 0.91vw, 1.5rem);
}
.contacts_text-28___YImb {
  font-size: clamp(1.5rem, 1.398rem + 0.45vw, 1.75rem);
}
.contacts_text-28___YImb,
.contacts_text-32__qHods {
  font-family: Inter, sans-serif;
  font-style: normal;
  line-height: normal;
}
.contacts_text-32__qHods {
  font-size: clamp(1.25rem, 0.968rem + 1.29vw, 2rem);
}
.contacts_text-40__5Ij6w {
  font-size: clamp(1.75rem, 1.443rem + 1.36vw, 2.5rem);
}
.contacts_text-100__K3otV,
.contacts_text-40__5Ij6w {
  font-family: Inter, sans-serif;
  font-style: normal;
  line-height: normal;
}
.contacts_text-100__K3otV {
  font-size: clamp(3.75rem, 2.727rem + 4.55vw, 6.25rem);
  font-weight: 700;
}
.contacts_font-regular___Symd {
  font-weight: 400;
}
.contacts_font-medium__e6K6A {
  font-weight: 500;
}
.contacts_font-bold__iWvke {
  font-weight: 700;
}
.contacts_uppercase__IxlFd {
  text-transform: uppercase;
}
.contacts_text-black__KgTWE {
  color: #121212;
}
.contacts_text-green__w0hBF {
  color: #2e4f2e;
}
.contacts_text-gray__Q9S1C {
  color: #f9f9f9;
}
.contacts_text-white__m_izG {
  color: #fff;
}
.contacts_text-center__0tbao {
  text-align: center;
}
.contacts_text-left__E29Cb {
  text-align: left;
}
.contacts_section__HAeWw {
  padding: 20px 0;
  background-color: #121212;
}
.form_ellipsis__XbFgU {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
.form_text-12__sLsOu {
  font-size: 12px;
}
.form_text-12__sLsOu,
.form_text-16__QV65q {
  font-family: Inter, sans-serif;
  font-style: normal;
  line-height: normal;
}
.form_text-16__QV65q {
  font-size: 16px;
}
.form_text-18__Fu3dh {
  font-family: Inter, sans-serif;
  font-size: clamp(0.875rem, 0.773rem + 0.45vw, 1.125rem);
  font-style: normal;
  line-height: normal;
}
.form_text-20__BMuvW {
  font-size: clamp(0.875rem, 0.722rem + 0.68vw, 1.25rem);
  font-style: normal;
  line-height: normal;
}
.form_text-22__0LVoC {
  font-size: 22px;
}
.form_text-22__0LVoC,
.form_text-24__aDfOP {
  font-family: Inter, sans-serif;
  font-style: normal;
  line-height: normal;
}
.form_text-24__aDfOP {
  font-size: clamp(1rem, 0.795rem + 0.91vw, 1.5rem);
}
.form_text-28__TVBIf {
  font-size: clamp(1.5rem, 1.398rem + 0.45vw, 1.75rem);
}
.form_text-28__TVBIf,
.form_text-32__LNoc9 {
  font-family: Inter, sans-serif;
  font-style: normal;
  line-height: normal;
}
.form_text-32__LNoc9 {
  font-size: clamp(1.25rem, 0.968rem + 1.29vw, 2rem);
}
.form_text-40__bnldU {
  font-size: clamp(1.75rem, 1.443rem + 1.36vw, 2.5rem);
}
.form_text-100__Zirgs,
.form_text-40__bnldU {
  font-family: Inter, sans-serif;
  font-style: normal;
  line-height: normal;
}
.form_text-100__Zirgs {
  font-size: clamp(3.75rem, 2.727rem + 4.55vw, 6.25rem);
  font-weight: 700;
}
.form_font-regular__x_8fv {
  font-weight: 400;
}
.form_font-medium__qnPO_ {
  font-weight: 500;
}
.form_font-bold__PFgkn {
  font-weight: 700;
}
.form_uppercase__lUDDp {
  text-transform: uppercase;
}
.form_text-black__3GDyV {
  color: #121212;
}
.form_text-green__92yxR {
  color: #2e4f2e;
}
.form_text-gray__64He_ {
  color: #f9f9f9;
}
.form_text-white__BayB8 {
  color: #fff;
}
.form_text-center__vVmv6 {
  text-align: center;
}
.form_text-left__OYstt {
  text-align: left;
}
.form_form__CNAh1 {
  padding: 16px;
  border-radius: 20px;
  background-color: #f9f9f9;
}
.form_input___oIBv {
  border: 1px solid #121212;
  border-radius: 16px;
}
.text-input_ellipsis__Lug4V {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-input_text-12__aSlvT {
  font-size: 12px;
}
.text-input_text-12__aSlvT,
.text-input_text-16__QXaiw {
  font-family: Inter, sans-serif;
  font-style: normal;
  line-height: normal;
}
.text-input_text-16__QXaiw {
  font-size: 16px;
}
.text-input_text-18__fh2or {
  font-family: Inter, sans-serif;
  font-size: clamp(0.875rem, 0.773rem + 0.45vw, 1.125rem);
  font-style: normal;
  line-height: normal;
}
.text-input_text-20__A5nRW {
  font-size: clamp(0.875rem, 0.722rem + 0.68vw, 1.25rem);
  font-style: normal;
  line-height: normal;
}
.text-input_text-22__Fi_BJ {
  font-size: 22px;
}
.text-input_text-22__Fi_BJ,
.text-input_text-24__Pu8m2 {
  font-family: Inter, sans-serif;
  font-style: normal;
  line-height: normal;
}
.text-input_text-24__Pu8m2 {
  font-size: clamp(1rem, 0.795rem + 0.91vw, 1.5rem);
}
.text-input_text-28__3NIo8 {
  font-size: clamp(1.5rem, 1.398rem + 0.45vw, 1.75rem);
}
.text-input_text-28__3NIo8,
.text-input_text-32__QVYgF {
  font-family: Inter, sans-serif;
  font-style: normal;
  line-height: normal;
}
.text-input_text-32__QVYgF {
  font-size: clamp(1.25rem, 0.968rem + 1.29vw, 2rem);
}
.text-input_text-40__mz2O6 {
  font-size: clamp(1.75rem, 1.443rem + 1.36vw, 2.5rem);
}
.text-input_text-100__pCFSJ,
.text-input_text-40__mz2O6 {
  font-family: Inter, sans-serif;
  font-style: normal;
  line-height: normal;
}
.text-input_text-100__pCFSJ {
  font-size: clamp(3.75rem, 2.727rem + 4.55vw, 6.25rem);
  font-weight: 700;
}
.text-input_font-regular__F_p0f {
  font-weight: 400;
}
.text-input_font-medium__kR3lS {
  font-weight: 500;
}
.text-input_font-bold__3MneV {
  font-weight: 700;
}
.text-input_uppercase__iIJ6m {
  text-transform: uppercase;
}
.text-input_text-black__tTcUj {
  color: #121212;
}
.text-input_text-green__1fbLj {
  color: #2e4f2e;
}
.text-input_text-gray__YkvIX {
  color: #f9f9f9;
}
.text-input_text-white__qr59w {
  color: #fff;
}
.text-input_text-center__sQ22E {
  text-align: center;
}
.text-input_text-left__nGpOB {
  text-align: left;
}
.input_ellipsis__XkhBy {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
.input_text-12__jAylU {
  font-size: 12px;
}
.input_text-12__jAylU,
.input_text-16__f75rF {
  font-family: Inter, sans-serif;
  font-style: normal;
  line-height: normal;
}
.input_text-16__f75rF {
  font-size: 16px;
}
.input_text-18__Lbsbm {
  font-family: Inter, sans-serif;
  font-size: clamp(0.875rem, 0.773rem + 0.45vw, 1.125rem);
  font-style: normal;
  line-height: normal;
}
.input_text-20__DOOVW {
  font-size: clamp(0.875rem, 0.722rem + 0.68vw, 1.25rem);
  font-style: normal;
  line-height: normal;
}
.input_text-22__vvprf {
  font-size: 22px;
}
.input_text-22__vvprf,
.input_text-24__wjlC2 {
  font-family: Inter, sans-serif;
  font-style: normal;
  line-height: normal;
}
.input_text-24__wjlC2 {
  font-size: clamp(1rem, 0.795rem + 0.91vw, 1.5rem);
}
.input_text-28__SPPB2 {
  font-size: clamp(1.5rem, 1.398rem + 0.45vw, 1.75rem);
}
.input_text-28__SPPB2,
.input_text-32__5mSSX {
  font-family: Inter, sans-serif;
  font-style: normal;
  line-height: normal;
}
.input_text-32__5mSSX {
  font-size: clamp(1.25rem, 0.968rem + 1.29vw, 2rem);
}
.input_text-40__vQscl {
  font-size: clamp(1.75rem, 1.443rem + 1.36vw, 2.5rem);
}
.input_text-100__BIz0v,
.input_text-40__vQscl {
  font-family: Inter, sans-serif;
  font-style: normal;
  line-height: normal;
}
.input_text-100__BIz0v {
  font-size: clamp(3.75rem, 2.727rem + 4.55vw, 6.25rem);
  font-weight: 700;
}
.input_font-regular__Ocwpa {
  font-weight: 400;
}
.input_font-medium__mxtFR {
  font-weight: 500;
}
.input_font-bold__arerF {
  font-weight: 700;
}
.input_uppercase__ut9ia {
  text-transform: uppercase;
}
.input_text-black__IfSY9 {
  color: #121212;
}
.input_text-green__pIC65 {
  color: #2e4f2e;
}
.input_text-gray__4ws14 {
  color: #f9f9f9;
}
.input_text-white__e7VS0 {
  color: #fff;
}
.input_text-center__veRN8 {
  text-align: center;
}
.input_text-left__WiWVC {
  text-align: left;
}
.input_container__vtAwS {
  position: relative;
  width: 100%;
}
.input_right_icon__Wt1t_ {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  width: fit-content;
  aspect-ratio: 1;
}
.input_input__BVGza {
  max-width: unset;
  width: 100%;
  padding: 16px;
  border-radius: 16px;
  background: #f9f9f9 !important;
  color: #121212;
  font-size: 14px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
}
.input_input__BVGza::placeholder {
  color: #121212;
  opacity: 0.7;
}
.input_label__pApPz {
  translate: 5px 0;
}
