.container {
  padding: $space-5;
  border-radius: $radius-m;
  background: $background-light;
  min-height: 200px;
  width: 100%;
  height: 100%;

  .textarea {
    width: 100%;
    height: 100%;
    resize: none;

    color: $gray;
    font-size: 18px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;

    &::placeholder {
      color: $gray-2;
    }

    &::-webkit-scrollbar {
      width: 0;
    }
  }
}
